coverage
packages
docs
__tests__
__setup__
examples
*.log
*.lock
*-lock.json
.DS_Store
.prettierrc.js
.cache
.prettierrc
.vscode
.nyc_coverage
.editorconfig
.nyc_output
.eslintrc
.eslintignore
.vscode
LICENCE